@charset "UTF-8";
.button__color, .tamaño {
  font-size: 35px;
  font-family: 'Zen Loop', cursive;
  color: black;
  font-weight: bolder;
  background-color: #b9b3b3; }

* {
  padding: 0;
  margin: 0; }

html {
  width: 100%;
  height: 100%; }

.play {
  width: 100%;
  height: 150px;
  background-color: black;
  margin-bottom: 7rem; }

.index__medios {
  margin-top: 15rem; }

.index__h2play {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 15px;
  text-decoration: none;
  font-weight: none;
  padding: 20px;
  background-color: #363d43; }

.index__h3play {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  letter-spacing: 10px;
  word-spacing: 5px; }

.index__auspiciantes {
  display: flex; }

.index__img {
  background-image: url("../imagenes/vespas comidas/vespa muro.jpg");
  position: relative;
  left: 24px;
  top: 48px; }

.index__blockplay {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 150px;
  background-color: black;
  padding: 20px; }

.index__audio {
  display: flex; }

.contenedor__resp {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url("../imagenes/vespas comidas/fondopapel.jpg");
  background-size: cover; }

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../imagenes/vespas comidas/fondopapel.jpg");
  background-size: cover; }

/*aplico operaciones button index-linea39*/
.button-1 {
  width: 70px; }

.button-2 {
  width: 100px; }

.button-3 {
  width: 130px; }

/*Index--Comun Se aplico Flex*/
/*ALINEAR NAV*/
.main__general {
  padding-top: 0rem; }

.carousel {
  position: relative;
  left: 2px;
  margin-top: 2rem; }

.back__img {
  background-image: url("../imagenes/vespas comidas/pizzaslider.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 506px; }

.margin__footer {
  margin-bottom: 3rem; }

.index__h1 {
  color: black;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border: 6px ridge;
  background-color: #ffffff42; }

.h1__bost {
  margin-bottom: 0.5rem;
  font-family: 'Zen Loop', cursive;
  font-weight: 500;
  line-height: 1.2;
  border: 6px ridge;
  background-image: linear-gradient(to right, #a4d9a4, black);
  margin-top: 4.3rem;
  font-size: 3rem; }

.navbar-toggler-icon {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  height: 3.5rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

.article__index {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 19rem;
  justify-content: flex-end; }

.borders {
  border: 1px double #01010f;
  margin-bottom: 5rem; }

.colorblue {
  color: black; }

.parrafo__menu {
  color: #0a0a09;
  font-family: 'Zen Loop', cursive;
  font-size: 23px;
  font-weight: bold; }

h2 {
  font-family: 'Zen Loop', cursive;
  color: #0d0a33;
  font-size: 30px;
  font-weight: bold;
  text-decoration-line: underline;
  margin-top: 3rem; }

h3 {
  color: #010a01;
  text-decoration: underline;
  margin-top: 7rem;
  margin-bottom: 2rem; }

.h3__index {
  color: #010a01;
  text-decoration: underline;
  margin-top: 28rem;
  margin-bottom: 2rem; }

.conocenos__box {
  border-radius: 8px;
  box-shadow: 30px 0px 35px gray;
  margin-left: 2rem;
  display: flex;
  flex-flow: row;
  margin-right: 5rem;
  margin-top: 3rem; }

.conocenos__boxa1 {
  border-radius: 8px;
  box-shadow: 30px 0px 35px gray;
  margin-left: 2rem;
  display: flex;
  flex-flow: row;
  margin-right: 5rem;
  margin-top: 3rem;
  margin: 2px; }

.alinear__button {
  text-align: center;
  background-color: #80808057;
  background-size: 50%;
  margin-top: 8rem;
  transform: translate(-2px, 0px); }

.alinear__navbut {
  text-align: center;
  height: 60px;
  margin-top: 7rem; }

.alinear__nav {
  text-align: center;
  height: 60px; }

.ol {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem; }

.ol__titulo {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.alinearrh {
  position: relative;
  left: 2rem;
  text-align: center;
  margin-top: 4rem; }

.box {
  margin: 20px; }

.item:hover {
  width: 140px;
  background: #6e6363; }

.item__button {
  display: inline-block;
  position: relative;
  width: 280px;
  margin-left: 3rem;
  bottom: 0.5rem; }

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: black; }

#btn-menu {
  display: none; }

header label {
  display: none;
  padding: 10px;
  border: 1px solid #fff;
  width: 30px; }

main header {
  background-image: gradient(to top, black, #4fd4949c);
  width: 90%; }

label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

nav ol {
  display: flex;
  justify-content: space-between; }

li {
  list-style: none;
  display: block;
  padding-right: 60px;
  margin-top: 0.9rem;
  list-style: none; }

.a {
  text-decoration: none;
  color: #dae0e5;
  font-family: 'Zen Loop', cursive;
  font-size: 25px; }

.slogan {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: bold;
  color: white; }

.section {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 600px;
  display: inline; }

.verticalAlig {
  vertical-align: 100px; }

/*Aplico Extend en index*/
.tamaño {
  background-color: #6daaa3; }

.article__titulo {
  font-size: 20px;
  text-align: center;
  margin-top: 2rem; }

.margen__img {
  margin-bottom: 5rem; }

.article__imagen {
  width: 50%;
  display: inline-block; }

.submenu {
  background-color: cadetblue;
  display: none;
  position: absolute; }

.alinear {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.border__cont {
  border: 3px double black;
  margin-bottom: 3rem;
  margin-top: 3rem; }

.form-group {
  margin-bottom: 3rem;
  margin-top: 3rem; }

.estas__contacto {
  text-emphasis: none; }

.dropdown {
  display: none;
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f; }

.li__nav {
  display: block; }

.btn-primary {
  color: #fff;
  background-color: #7ebbc4;
  border-color: #007bff33; }

/*aplico BEM*/
.section__dir {
  display: inline-block;
  width: 45%;
  padding: 5px;
  border: 4px double;
  background-image: linear-gradient(to right, #a4d9a4, black); }

.section__hor {
  display: inline-table;
  width: 45%;
  padding: 5px;
  border: 4px double;
  margin-top: 30px;
  background-image: linear-gradient(to right, #a4d9a4, black); }

h2, .h2 {
  font-size: 2rem;
  margin-top: 3rem; }

.box__form {
  border: 2px double;
  padding-left: 10px;
  padding-bottom: 10px; }

.back {
  background-color: lightgrey;
  width: 850px;
  display: inherit; }

.flex__cont {
  display: flex;
  justify-content: space-between; }

/*******SECCION GALERÍA APLIQUE GRID*******/
/*APLICO BEM*/
.galeria__h1 {
  color: black;
  font-size: 50px 30px;
  text-align: center;
  border: double 5px #a88686;
  background-color: #0000ff33;
  margin-bottom: 3rem;
  text-decoration: double;
  border-right: black;
  border-left: black;
  margin-left: 35px;
  font-family: 'Zen Loop', cursive;
  width: 354px;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  position: relative;
  left: 30%; }

.galeria__h2 {
  font-size: 40px;
  font-family: inherit;
  text-underline-position: auto;
  color: #355035; }

.galeria__p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 18px;
  text-align: center; }

.galeria__h3 {
  font-size: 55px;
  font-family: inherit;
  margin: 1rem;
  color: #355035; }

.contenedor {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
  gap: 1em;
  margin-top: 3rem; }

.img__scale {
  transform: scale(0.8, 1); }

.three-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  border: double 2px black; }

.three-columns:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

/******APLIQUE FLEX SECCION PROMOSIONES******/
/*aplico animate*/
.animate__backInDown {
  animation-iteration-count: infinite;
  animation-duration: 5s; }

/*aplico trasform rotate*/
.art__titulo {
  position: relative;
  left: 80px;
  transform: rotate(-45deg); }

.promosiones {
  border-top-width: 1px; }

.section__promos {
  display: flex; }

.art__comb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.button__comunicate {
  font-family: 'Zen Loop', cursive;
  font-size: 25px;
  color: black; }

.flex__pie {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  text-decoration: none; }

.art__delivery {
  display: flex;
  flex-direction: column-reverse; }

.border__section {
  border-style: double;
  background-image: url("../imagenes/vespas comidas/hamburguesa2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.div__p {
  margin-top: 3rem; }

.promo__h1 {
  color: black;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border: 6px ridge; }

.promo__titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }

.promo__h3 {
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-align: center; }

.promo__atension {
  box-decoration-break: unset;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 28px;
  text-align: center;
  color: white; }

.promo__p {
  bottom: 120px;
  font-weight: bolder;
  font-size: 20px;
  font-family: italic; }

.promo__logo {
  display: flex;
  transform: rotate(-45deg); }

.promo__box {
  height: 200px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 4rem;
  background-image: url("../imagenes/vespas comidas/vespasss.png");
  background-size: auto; }

.promo__section {
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  -ms-flex-align: center;
  background-color: #6e3232; }

/*APLICO BEM*/
.art__tabla {
  background-color: #d1cece66; }

.art__tablados {
  background-color: #d1cece66; }

/***SECCION FOOTER***/
.footer__bottom {
  display: flex;
  flex-direction: column; }

.footer__div {
  margin-bottom: 6rem;
  margin-top: 1rem; }

footer section div img {
  position: relative;
  left: 1.5rem;
  top: -0.5rem; }

.img__logo {
  position: relative;
  top: 1.5rem;
  left: 50%;
  transform: translate(-45px); }

.span {
  box-sizing: border-box;
  border: 2px white double;
  font-style: italic;
  color: cornsilk;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  line-height: 1rem;
  background-image: linear-gradient(to right, #a4d9a4, black);
  margin-top: 3rem;
  margin-bottom: 3rem; }

.pie {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 30px; }

.pie__pag {
  display: flex;
  flex-direction: column;
  width: 150.812px;
  align-items: stretch; }

.pie__img {
  display: flex;
  flex-direction: column; }

/******SECCION MENU SE APLICO FLEX******/
/***********************/
.margin__tit {
  margin-top: 8rem;
  margin-bottom: 5rem; }

/*APLICO BEM*/
.menu__h1 {
  font-family: 'italic';
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  text-decoration-line: underline; }

.menu__td {
  text-align: left; }

.menu__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-image: url("../imagenes/vespas comidas/carta2.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.menu__table {
  margin: top 0; }

.menu__h2 {
  font-family: 'Zen Loop', cursive;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-decoration-line: underline;
  margin-top: 3rem;
  margin-bottom: 1rem; }

.menu__body {
  width: 90%;
  height: auto;
  background-image: url("../imagenes/vespas comidas/carta2.png");
  background-repeat: repeat;
  background-size: cover;
  padding: 40px; }

.menu__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  background-image: url("../imagenes/vespas comidas/carta2.png");
  background-repeat: repeat;
  background-size: cover; }

td {
  width: 140px;
  margin-right: 25px; }

.table__margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

body {
  width: 90%;
  height: auto;
  width: 501px; }

.img__resp {
  width: 300px;
  height: 225px; }

@media screen and (max-width: 780px) {
  .back__img {
    background-image: url("../imagenes/vespas comidas/pizzaslider.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .index__h1 {
    font-size: 2rem; }
  .conocenos__box {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 0px;
    margin-top: 3rem; }
  .carousel {
    position: relative;
    left: -65px;
    margin: 2rem;
    width: 340px; }
  .container {
    width: 360px; }
  .promo__h1 {
    color: wheat; }
  .a {
    font-size: 1.7rem; }
  section article ul {
    display: flex;
    flex-direction: column; }
  .span {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1rem;
    word-spacing: 0.2rem; }
  .parrafo__menu {
    font-size: 1.3rem; }
  *, ::after, ::before {
    box-sizing: border-box; }
  .item {
    height: 30px; }
  #btn-menu {
    display: flex; }
  .img__resp {
    display: none; }
  .promo__box {
    font-size: 20px; }
  .transf {
    transform: scale(3); } }

/*promosiones aplico TRANSFORM SCALE*/
@media screen and (max-width: 780px) {
  .promo__box {
    color: #181616;
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 8px;
    word-spacing: 12px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 4rem;
    background-image: url("../imagenes/vespas comidas/vespasss.png"); }
  .promo__h1 {
    font-size: 2rem; }
  .flex__pie {
    font-size: 4rem; }
  .transf {
    transform: scale(0.5); }
  .art__titulo {
    left: 10px; }
  .promos__h3 {
    font-size: 2.4rem; }
  *, ::after, ::before {
    box-sizing: none; } }

/*Galeria*/
@media screen and (max-width: 780px) {
  .galeria__h1 {
    font-size: 2rem;
    margin-left: -5.4rem;
    width: 300px; }
  .galeria__h3 {
    font-size: 2rem;
    text-align: center; }
  .a {
    font-size: 1.4rem; }
  .contenedor {
    padding: 1px; }
  .span {
    line-height: 1.5rem; }
  html {
    width: 100%;
    height: 1200px; } }

/*Menu*/
@media screen and (max-width: 780px) {
  .index__h1 {
    font-size: 1.3rem;
    margin-top: 1rem; }
  .menu__h1 {
    font-size: 2rem;
    text-align: center; }
  .flex__menu {
    justify-content: flex-start; }
  .flex__cont {
    display: flex;
    flex-direction: column; }
  .a {
    font-size: 1.4rem; }
  .body__menu {
    padding: 20px;
    width: 645px; }
  .lead {
    font-size: 70px; }
  .span {
    line-height: 1.7rem; }
  *, ::after, ::before {
    box-sizing: none; } }

/*media querin contacto*/
@media screen and (max-width: 780px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start; }
  .section__dir {
    width: 100%;
    height: 60%; }
  .section__hor {
    width: 100%;
    height: 60%; }
  footer section div img {
    left: 0%;
    top: 0%; }
  .offset-1 {
    margin-left: 0px; }
  .back {
    width: 260px;
    margin-top: 1rem; }
  .alinearrh {
    left: 0.5px; }
  .dropdown {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f; }
  .navbar-toggler-icon {
    display: none; }
  .bg-light {
    background-color: linear-gradient(to top, black, #4fd4949c); }
  .h1__bost {
    font-size: 1.7rem;
    color: white;
    margin-top: 1rem; }
  .span {
    font-size: 1rem; }
  .html {
    width: 100%; } }

/*CONDICIONALES INDEX*/
.alinear__button {
  background-color: #80808057; }

@media screen and (max-width: 780px) {
  .index__h2play {
    font-size: 20px;
    width: 320px; }
  .index__blockplay {
    flex-direction: column;
    height: 400px;
    width: 320px;
    align-items: center; }
  .index__audio {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .index__img {
    position: relative;
    left: 0px;
    top: 0px; }
  .footer__div {
    margin-bottom: 1rem;
    margin-top: 3rem; }
  .borders {
    margin-bottom: 3rem; }
  .index__medios {
    margin-bottom: 3rem;
    margin-top: 29rem; } }
